<div class="modal-container">
    <div class="overlay is-hidden" v-on:click="closeModal" ref="overlay"></div>
    <div class="modal-content is-hidden" ref="modal">
        <header class="modal-header">
            <span class="btn-close" v-on:click="closeModal"></span>
            <h3>{{ feed.title }}</h3>
        </header>
        <div v-html="feed.description"></div>
        <footer class="modal-footer">
            <button class="btn btn-success" v-on:click="openFeed(feed)">Open</button>
            <button class="btn btn-cancel" v-on:click="closeModal">Cancel</button>
        </footer>
    </div>
</div>
